# ==========================================
# Laravel - .gitignore personalizado
# ==========================================

# --- Archivos del sistema ---
*.log
.DS_Store
Thumbs.db

# --- Archivos de entorno ---
.env
.env.backup
.env.production

# --- Configuración de editores ---
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json

# --- Dependencias ---
/node_modules
/vendor

# --- Compilaciones y temporales ---
/public/build
/public/hot
/public/storage

# --- Archivos de cache ---
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*
/storage/pail
/storage/debugbar

# --- Archivos de Homestead ---
Homestead.json
Homestead.yaml

# --- Otros ---
npm-debug.log
yarn-error.log
